<div style="font-size:16px">
  <div>It's possible to hook into the build process</div>
  <ul>
    <li>Create a file in your project tools/buildHooks.js</li>
    <li>The file should export an object</li>
    <li>onBuildStart - Hook that executes when the build process starts</li>
    <li>onBuildComplete - Hook that executes when the build process ends</li>
  </ul>
</div>