<div style="font-size:16px">
  <div class="row" >

    <div class="col-lg-12">
      <h3>Hello world</h3>
      <div>Once the environment is installed, three files should exist inside <code>./src - index.js, index.html, and develop.js</code></div>
      <div>You'll need to create the following file called <code>projectConfig.json</code></div>
      <pre><code>
{
  "env" : {
        "production" : {
            "assetsPath":"//subdomain.example.com/",
        }
  },
  "bodyHTML" : '{Any HTML markup}
}
      </code></pre>
      <div>you can change <code>body.innerHTML</code> to whatever you want by using bodyHTML </div>
      <div>you can change <code>assetsPath</code> to whatever you want, normally / is used.</div>
      <div><code>assetsPath</code> specifies the base URL from which images and assets are loaded</div>
      <div>Go ahead and type <code>document.body.innerHTML = 'HELLO WORLD'</code> inside <code>develop.js</code>, save the file and run <code>npm start</code></div>
      <div>Code you write in develop.js will appear in the dev server only.</div>
      <div>Code you write in index.js will appear production only</div>
      <div>To share code between the two, move the code to a different file</div>
      <div>To build the static website, run <code>npm run build</code></div>
      <div>The ./dist directory should have a complete static website ready</div>
      <div>This starts up the dev server and shows the the changed DOM! (See {@tutorial developersCommonIssues} for any problems)</div>
    </div>
  </div>
</div>

<div>You can read more about how assets are managed here: {@tutorial assetsPath}</div>