<div style="font-size:16px">
  <div class="row" >

    <div class="col-lg-12">
      <h3>Hello world</h3>
      <div>Once the environment is installed, three files should exist inside <code>./src - index.js, index.html, and develop.js</code></div>
      <div>Go ahead and type <code>alert('hello')</code> inside <code>develop.js</code>, save the file and run <code>npm start</code></div>
      <div>This starts up the dev server and shows the alert! (See {@tutorial developersCommonIssues} for any problems)</div>
    </div>

    <div class="col-lg-12">
      <h3>Simple component</h3>
      <div>You can add this code in develop.js to render a simple component</div>
      <pre><code>
        import {render} from 'react-dom';
        import React from 'react';

        //functional "dumb" component
        function Hello(){
          return (&lt;h3>Hello World&lt;/h3>)
        }
        render(&lt;Hello/>,document.getElementById('app'));
      </code></pre>
    </div>

    <div class="col-lg-12 well">
      Note : In most cases, we will only render in develop.js, while index.js will export the class itself to be used in a different component
    </div>

    <div class="col-lg-12">
      <h3>Add additional files</h3>
      <div>Most of the times our code will be located in other files.</div>
      <ul>
        <li>Create a file called <code>"component.js"</code> inside <code>./src</code></li>
        <li>Move the "alert" from develop.js to component.js</li>
        <li>inside develop.js, add this line of code <code>import * as CompExport from './component'</code></li>
        <li>Save the files and refresh the browser</li>
      </ul>
    </div>

    <div class="col-lg-12">
      <h3>Add CSS/SCSS files</h3>
      <div>Similarly to external JS files, the library also supports external CSS/SCSS files</div>
      <ul>
        <li>Create a file in <code>./src</code> called <code>index.scss</code></li>
        <li>Add this line of code to develop.js : <code>import * as StyleExport from './index.scss'</code></li>
        <li>Inside index.scss, add this this css rule : <code>body{background-color:green}</code></li>
        <li>Save the files, refresh the browser = you should see a green body</li>
      </ul>
    </div>

    <div class="col-lg-12">
      <h3>Write unit tests - Jest</h3>
      <div>It is highly recommended to write unit tests to your components</div>
      <div>All Jest test files are to be located inside the __tests__ directory</div>
      <div>You can learn more about the test framework we use, Jest, <a target="_BLANK" href="https://facebook.github.io/jest/">here</a></div>
    </div>

    <div class="col-lg-12">
      <h3>Build the component - ./src/index.js</h3>
      <div>Now that we know how to develop, It's time to see how to build and deploy our component</div>
      <div>Any code that's written or imported into index.js will be bundled together into a minified, ES5 javascript file</div>
      <div>Any object exported from index.js will be available for import by other components</div>
      <div style="font-weight:bold">Anything you put in develop.js is used for DEV-ENV only and WILL NOT be passed to production</div>
    </div>

    <div class="col-lg-12">
      <h3>Analyze the build</h3>
      <div>Once index.js is filled as required, it's a wise idea to check that the distributed file is not too large</div>
      <div>Due to the ease of installing components in NPM, it's easy to include a library of 500kb for 3 lines of code</div>
      <div>run <code>npm run analyze</code> and inspect the stats.txt that was generated - this information is before GZIP, after minification</div>
    </div>

    <div class="col-lg-12">
      <h3>Deploy the component - Release it!</h3>
      <div>Once everything's in place, it's time to deploy the component.</div>
      <ul>
        <li>Create a repo for the component in bitbucket</li>
        <li>Create a git repo locally in your project (usually done through <code>git init</code>)</li>
        <li>Add the remote as origin - <code>git remote add origin REPO_PATH</code></li>
        <li>Use <code>npm run releasePatch</code> OR <code>npm run releaseMinor</code> OR <code>npm run releaseMajor</code> - depending on the version you want to increase</li>
        <li>the release process will run the Jest tests if they exist, will build the documentation, build the dist files and interactively publish and tag the release</li>
      </ul>
    </div>
  </div>
</div>