<div class="row">

  <div class="col-lg-12">
    Under most circumstances, migrating between versions should be done by following these commands
    <pre><code>
    rm -rf node_modules
    npm run init
    </code></pre>
  </div>

  <div class="col-lg-12">
    <h3>Specific version migrating</h3>
    For major versions, outlined below are the steps and precautions when updating versions
  </div>


  <div class="col-lg-12">
    <h4>Updating from 8.x to 9.x</h4>
    <div>
      This update modified the file name the JS file for development.
    </div>
    <div>
      You'll need to change the name of the js file in /src/index.html from 'bundle.js' to 'index.js'
    </div>
  </div>
</div>