<div style="font-size:16px">
  <ul>
    <li>Incorrect Node version - ensure node > 6.0.0</li>
    <li>Hot reloading issues - Known issue</li>
    <li>Incorrect paths - make sure all imports are relative to file - <code>import comp from './comp'</code></li>
    <li>Port already taken, inspect which process blocks the port - on mac : <code>lsof -i :$PORT_NUM</code></li>
    <li>Start dev server with a different port : <code>DEV_PORT=15000 npm start</code></li>
  </ul>
</div>