<div style="font-size:16px">
  <div class="row" >
    <div class="col-lg-12">
      <div>This library was created to minimize the
        time required to setup a development environment.</div>
      <div>Key components provided by this library are:</div>

      <br/>
      <ul>
        <li>Webpack</li>
        <li>Webpack-dev-server</li>
        <li>Jest + Enzyme (Unit testing)</li>
        <li>Babel(ES6 + JSX support) (stage-0 included)</li>
        <li>React</li>
        <li>React-Redux</li>
        <li>React-dom</li>
        <li>Root files (ie: .eslintrc, .editorconfig etc.) for a project</li>
        <li>css / sass support</li>
        <li>bundle size analyzer</li>
        <li>JS lint support</li>
      </ul>
    </div>

    <div class="col-lg-12">
      For developers wishing to setup a dev environment, please see the {@tutorial developersQuickStart} tutorial
    </div>

    <div class="col-lg-12">
      For maintainers wishing to add features, please see the {@tutorial maintainersGettingStarted} tutorial
    </div>
  </div>
</div>