<section>
  <h3>General</h3>
  <h4>Importing images into HTML</h4>
  <pre><code>
    import myImage from 'path-to-image/special.png';
    &lt;img src={myImage}/>
  </code></pre>
  <div><code>myImage</code> can be used as a AssetsPath for images</div>

  <h4>Importing assets to SCSS/CSS</h4>
  <pre><code>
    background: url("path-to-image/scssImage.png")
  </code></pre>
  <div>Webpack will automatically replace the paths to correct paths using the AssetsPath</div>

</section>
<hr/>
<section>
  <h3>Paths for components</h3>
  <h4>Default paths when using Dev server</h4>
  <div>The default AssetsPath for the dev server is <code>/assets/</code> and cannot(and shouldn't) be changed.</div>
  <h4>Default paths for Production</h4>
  <div>The default AssetsPath for production is <code>/assets/</code>, this can be further configured</div>
  <h4>Changing the paths for production</h4>
  <div>A common use case is to extern multiple components in a bundler - you can then build<br/>
    the code with a specific AssetsPath. - <b>Please see the section below regarding changing the path</b>
  </div>
</section>
<hr/>
<section>
  <h3>Paths for application</h3>
  <h4>Defaults - Dev server</h4>
  <div>The default AssetsPath for an application is  <code>/</code> and cannot(and shouldn't) be changed.</div>
  <h4>Changing the paths for production</h4>
</section>
<hr/>

<h1>Appendix</h1>
<section>
  <h3>Changing AssetsPath for production only</h3>
  <div>As specified above, it's possible to alter the AssetsPath for production</div>
  <div>Two ways to set an AssetsPath</div>
  <div>1. Create a file: (./projectConfig.json) </div>
  <pre><code>
    {
      assetsPath:'https://example.com'
    }
  </code></pre>
  <div>2. build with an ENV variable <code>ASSETS_PATH=https://example.com/ npm run build</code></div>
  <div><b>Node : if both ENV and ProjectConfig are present, ENV will be used by default</b></div>
</section>

<section>
  <h3>Image/Assets output target</h3>
  <div>When assets are imported into your code they will be exported for production usage</div>
  <div>The full path of the asset will be used, so for example inside <code>/dist/</code></div>
  <div>you will find directories matching the local path.</div>
  <code>/dist/node_modules/SOME_NODE_MODULE/assets/icon.png</code>
  <div>While the above path may look strange, it merely means that we're including an image</div>
  <div>from a node module, so the full path is exported.</div>
</section>